.container {
  margin-top: 30px;
}

#isLogged {
  margin-bottom: 30px;
  text-align: center;  
}

.title {
  margin-bottom: 30px;
  text-align: center;
}

.btn {
  margin: 0 10px;
}

.btn:hover {
  background-color: #3d4446;
  color: #ffffff;
}