body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.main {
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.card-button-outside {
  width: 50%;
  display: inline-block;
}

.card-button-left {
  background-color: rgb(143, 223, 227);
  border-bottom-left-radius: 10px;
  margin: 0px 2px 5px 5px;
  display: block;
}

.card-button-right {
  background-color: rgb(143, 223, 227);
  border-bottom-right-radius: 10px;
  margin: 0px 5px 5px 2px;
  display: block;
}

.note-item {
  margin: 10px 0px;
}

.card-item {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.note-id {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin-right: 20px;
}

.note-tags {
  display: inline;
}

.note-body {
  padding: 10px;
  text-align: left;
}

.note-content {
  margin-top: 15px;
  margin-bottom: 15px;
  ;
}