.container {
  margin-top: 30px;
}

.btn {
  width: 100%;
  margin: auto;
}

.btn:hover {
  background-color: #3d4446;
  color: #ffffff;
}

.note-item {
  margin: 10px 0px;
}

.card-item {
  background-color: #515058;
  border-radius: 10px;
}

.note-id {
  font-size: 20px;
  font-weight: bold;
  display: inline;
  margin-right: 20px;
}

.note-tags {
  display: inline;
}

.note-body {
  padding: 10px;
  text-align: left;
}

.note-content {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn a {
  color: #ffffff;
  text-decoration: none; /* no underline */
}

.btn a {
  color: #ffffff;
  text-decoration: none; /* no underline */
}

.update-btn {
  margin: 15px 0 15px 0;
}

.note-padding {
  padding-bottom: 20px;
}

#searchbar {
  flex: 50%;
}

#noteTemplate {
  display: none;
}