.color-1 {
  background-color: #5d5b6a;
  color: #ffffff;
}

.color-2 {
  background-color: #758184;
  color: #ffffff;
}

.color-3 {
  background-color: #cfb495;
  color: #333333;
}

.color-4 {
  background-color: #f5cdaa;
  color: #333333;
}